<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pet.Together.Like.LikeMapper">

   <resultMap type="com.pet.Together.Like.Like" id="like">
      <result column="like_num" property="like_num" />
      <result column="id" property="id" />
      <result column="pet_id" property="pet_id" />
      <result column="like_date" property="like_date" />
   </resultMap>
 
   
   <insert id="insertLike" parameterType="com.pet.Together.Like.Like">
      insert into to_like values(#{like_num}, #{id}, #{pet_id}, sysdate)
   </insert>
   
   <select id="selectById" parameterType="String" resultMap="like">
      select * from to_like where id=#{id} order by like_num   
   </select>
   
   <select id="selectByPetId" resultMap="like">
      select * from to_like where pet_id=#{pet_id} order by like_num       
   </select>
   
   
   <select id="selectByIdPetId" resultMap="like">
      select * from to_like where id=#{id} and pet_id=#{pet_id} order by like_num
   </select>
   
   <delete id="deletelike">
      delete from to_like where like_num=#{like_num}
   </delete>
   
   <delete id="deleteLikeByPetId">
      delete from to_like where id=#{id} and pet_id=#{pet_id}
   </delete>
   
   <delete id="deleteAlllike" parameterType="String">
      delete from to_like where id=#{id}
   </delete>
   
   <select id="getNum" resultType="int">
      select to_like_seq.nextval from dual
   </select>
   
</mapper>