<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pet.Together.ReviewReply.ReviewReplyMapper">
	<resultMap type="com.pet.Together.ReviewReply.ReviewReply" id="reviewReply">
		<result property="reply_num" column="reply_num" />
		<result property="board_num" column="board_num" />
		<result property="writer_id" column="writer_id" />
		<result property="reply_content" column="reply_content" />
		<result property="reply_date" column="reply_date" />
		<result property="parent_reply_num" column="parent_reply_num" />	
	</resultMap>
	
	<insert id="insert" parameterType="com.pet.Together.ReviewReply.ReviewReply">
		insert into to_reviewreply values(to_reviewreply_seq.nextval, #{board_num}, #{writer_id}, #{reply_content}, sysdate, ${parent_reply_num})
	</insert>
	
	<select id="select" parameterType="int" resultType="com.pet.Together.ReviewReply.ReviewReply">
		select * from to_reviewreply where reply_num = #{reply_num}
	</select>
	
	<select id="selectListByBoard_num" parameterType="int" resultMap="reviewReply">
		select * from to_reviewreply where board_num = #{board_num} and parent_reply_num =-1 order by reply_num
	</select>
	
	<select id="selectListByWriter_id" parameterType="String" resultMap="reviewReply">
		select * from to_reviewreply where writer_id = #{writer_id} order by reply_num
	</select>
	
	<select id="selectListByParent_reply_num" parameterType="int" resultMap="reviewReply">
		select * from to_reviewreply where parent_reply_num = #{parent_reply_num} order by reply_num
	</select>
	
	<update id="update" parameterType="com.pet.Together.ReviewReply.ReviewReply" >
		update to_reviewreply set reply_content = #{reply_content}, reply_date = sysdate where reply_num = #{reply_num} and writer_id = #{writer_id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from to_reviewreply where reply_num = #{reply_num}
	</delete>
	
	<update id="deleteParent" parameterType="int">
		update to_reviewreply set reply_content = null where reply_num = #{reply_num}
	</update>
	
	<select id="selectSeqCurrval" resultType="int">
		select to_reviewreply_seq.currval from dual
	</select>
	
</mapper>