<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pet.Together.Review.ReviewMapper">
	<resultMap type="com.pet.Together.Review.Review" id="ReviewResult">
		<result property="num" column="num"/>
		<result property="w_writer" column="w_writer"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="w_date" column="w_date"/>
		<result property="location" column="location"/>
	</resultMap>
	
	<insert id="insert" parameterType="com.pet.Together.Review.Review">
		insert into to_review values(#{num}, #{w_writer}, #{title}, #{content}, sysdate, #{location})
	</insert>
	
	<select id="selectByNum" parameterType="int" resultMap="ReviewResult">
		select * from to_review where num=#{num} 
	</select>
	
	<select id="selectAll" resultMap="ReviewResult">
		select * from to_review order by w_date desc
	</select>
	
	<update id="update" parameterType="com.pet.Together.Review.Review">
		update to_review set title=#{title}, content=#{content}, location=#{location} w_date=sysdate where num=#{num} 
	</update>
	
	<delete id="delete" parameterType="int">
		delete to_review where num=#{num}
	</delete>
	
	<select id="getNum" resultType="int">
		select seq_review.nextval from dual
	</select>
</mapper>